<a href="https://colab.research.google.com/github/SSuminseo/DataAnalysis-Lecture-2022.04/blob/main/08_%EA%B7%B8%EB%A3%B9%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 프레임-그룹 분석

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
iris=sns.load_dataset('iris')
tips=sns.load_dataset('tips')

# 1.Groupby

# Iris 데이터 사례

In [3]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [4]:
#각 품종별 feature의 평균
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [5]:
iris.groupby('species').first() #각종의 첫번째

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.1          3.5           1.4          0.2
versicolor           7.0          3.2           4.7          1.4
virginica            6.3          3.3           6.0          2.5

In [7]:
#각 품종별 sepla_length의 표준편차
iris.groupby('species').std()['sepal_length']

species
setosa        0.352490
versicolor    0.516171
virginica     0.635880
Name: sepal_length, dtype: float64

In [8]:
iris.groupby('species').std()[['sepal_length']]

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

In [9]:
iris[['sepal_length','species']].groupby('species').std()

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

In [11]:
iris.groupby('species')[['sepal_length']].std()

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

-그룹 연산을 여러가지 하는 경우
   -각 품종별 sepal_length의 평균,표준편차,최소값,최대값

In [12]:
iris.groupby('species')['sepal_length'].agg(['mean','std','min','max'])

             mean       std  min  max
species
setosa      5.006  0.352490  4.3  5.8
versicolor  5.936  0.516171  4.9  7.0
virginica   6.588  0.635880  4.9  7.9

# tips 데이터 사례

In [13]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
# 1. 남자 vs. 여자
# 2. 흡연자 vs. 비흡연자
tips['tip_pct']=(tips.tip / tips.total_bill *100).round(2)
tips.tail()

     total_bill   tip     sex smoker   day    time  size  tip_pct
239       29.03  5.92    Male     No   Sat  Dinner     3    20.39
240       27.18  2.00  Female    Yes   Sat  Dinner     2     7.36
241       22.67  2.00    Male    Yes   Sat  Dinner     2     8.82
242       17.82  1.75    Male     No   Sat  Dinner     2     9.82
243       18.78  3.00  Female     No  Thur  Dinner     2    15.97

In [15]:
tips.describe()

       total_bill         tip        size     tip_pct
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672   16.079754
std      8.902412    1.383638    0.951100    6.107020
min      3.070000    1.000000    1.000000    3.560000
25%     13.347500    2.000000    2.000000   12.910000
50%     17.795000    2.900000    2.000000   15.475000
75%     24.127500    3.562500    3.000000   19.147500
max     50.810000   10.000000    6.000000   71.030000

-성별 데이터 갯수

In [16]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Male           157  157     157  157   157   157      157
Female          87   87      87   87    87    87       87

In [17]:
tips.groupby('sex').size()

sex
Male      157
Female     87
dtype: int64

- 성별, 흡연유무별 데이터 갯수

In [18]:
tips.groupby(['sex','smoker']).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [19]:
#남성, 흡연자 수
tips.groupby(['sex','smoker']).size()[('Male','Yes')]

60

In [21]:
tips.groupby(['sex','smoker']).size()['Male']['Yes']

60

-성별 팁 비율의 평균, 최소, 최대값

In [22]:
tips.groupby('sex')['tip_pct'].agg(['mean','min','max'])

             mean   min    max
sex
Male    15.764713  3.56  71.03
Female  16.648276  5.64  41.67

In [25]:
#흡연유무별 팁 비율의 평균
tips.groupby('smoker')['tip_pct'].mean()

smoker
Yes    16.319140
No     15.932318
Name: tip_pct, dtype: float64

- 성별, 흡연유무별 팁 비율의 평균

In [26]:
#데이터 프레임으로 표시하려고 하는 경우"
tips.groupby('smoker')[['tip_pct']].mean()

          tip_pct
smoker
Yes     16.319140
No      15.932318

In [24]:
tips.groupby(['sex','smoker'])['tip_pct'].mean()

sex     smoker
Male    Yes       15.276667
        No        16.066598
Female  Yes       18.214545
        No        15.691111
Name: tip_pct, dtype: float64

# 2. Pivot table

In [27]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [29]:
df1.pivot_table('인구','도시','연도')

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [30]:
df1.pivot_table('인구','도시','연도',margins=True,margins_name='평균')

연도       2005       2010       2015            평균
도시
부산  3512547.0  3393191.0  3448737.0  3.451492e+06
서울  9762546.0  9631482.0  9904312.0  9.766113e+06
인천        NaN   263203.0  2890451.0  1.576827e+06
평균  6637546.5  4429292.0  5414500.0  5.350809e+06

In [32]:
df1.pivot_table('인구',index=['연도','도시'])

              인구
연도   도시
2005 부산  3512547
     서울  9762546
2010 부산  3393191
     서울  9631482
     인천   263203
2015 부산  3448737
     서울  9904312
     인천  2890451

-tips 데이터를 통해 groupby,pivot_table 사용법 비교

In [34]:
# 성별과 흡연유무에 따른 데이터의 갯수
tips.groupby(['sex','smoker']).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [36]:
tips.pivot_table('tip_pct','sex','smoker',aggfunc='count',margins=True,margins_name='계')

smoker  Yes   No    계
sex
Male     60   97  157
Female   33   54   87
계        93  151  244

In [37]:
#성별에 따른 평균 팁 비율
tips.groupby('sex')[['tip_pct']].mean()

          tip_pct
sex
Male    15.764713
Female  16.648276

In [38]:
tips.pivot_table('tip_pct', 'sex') #알아서 평균 구해줌-->기본 연산이 평균임

          tip_pct
sex
Male    15.764713
Female  16.648276

In [40]:
#흡연유무에 따른 평균 팁 비율과 최소,최대값
tips.groupby('smoker')[['tip_pct']].agg(['mean','min','max'])

          tip_pct
             mean   min    max
smoker
Yes     16.319140  3.56  71.03
No      15.932318  5.68  29.20

In [41]:
tips.pivot_table('tip_pct','smoker',aggfunc=['mean','min','max'])

             mean     min     max
          tip_pct tip_pct tip_pct
smoker
Yes     16.319140    3.56   71.03
No      15.932318    5.68   29.20

In [42]:
#성별과 흡연유무에 따른 평균 팁 비율
tips.pivot_table('tip_pct',['sex','smoker'])

                 tip_pct
sex    smoker
Male   Yes     15.276667
       No      16.066598
Female Yes     18.214545
       No      15.691111

In [43]:
tips.pivot_table('tip_pct','sex','smoker')

smoker        Yes         No
sex
Male    15.276667  16.066598
Female  18.214545  15.691111

-실수 값을 카테고리 값으로 변환

In [45]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [49]:
ages=[0,2,10,21,23,37,61,20,41,32,100]
bins=[1,20,30,50,70,100]
labels=['미성년자','청년','중년','장년','노년']
cats=pd.cut(ages, bins, labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '장년', '미성년자', '중년', '중년', '노년']
Length: 11
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [51]:
print(cats.categories)
print(cats.codes)

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')
[-1  0  0  1  1  2  3  0  2  2  4]

In [52]:
adf=pd.DataFrame(ages, columns=['ages'])
adf['age_cat']=pd.cut(adf.ages, bins,labels=labels)
adf

    ages age_cat
0      0     NaN
1      2    미성년자
2     10    미성년자
3     21      청년
4     23      청년
5     37      중년
6     61      장년
7     20    미성년자
8     41      중년
9     32      중년
10   100      노년

In [53]:
data=np.random.randn(1000)
cats=pd.qcut(data,4,labels='Q1 Q2 Q3 Q4'.split())
pd.value_counts(cats)

Q1    250
Q2    250
Q3    250
Q4    250
dtype: int64