<a href="https://colab.research.google.com/github/SSuminseo/DataAnalysis-Lecture-2022.04/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [6]:
filename='서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv'
cctv=pd.read_csv(filename, skiprows=1,encoding='EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
3,용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
4,성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283

In [7]:
#계 행을 삭제
# 구분 열을 인덱스로 변경하고 이름도 자치구로 변경
cctv.drop([0],inplace=True)
cctv.set_index('구분',inplace=True)
cctv.index.name='자치구'
cctv.head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
자치구,,,,,,,,,,,,
종로구,"1,715",815,NaN,NaN,195,150,0,261,85,9,200,0
중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283
광진구,"3,211",35,57,100,187,98,52,675,465,712,175,655

In [8]:
cctv.index[1]

'중 구'

In [9]:
cctv.index=cctv.index.str.replace(' ','')
cctv.index[1]

'중구'